services:
  # 1. The Laravel Application
  - type: web
    plan: free
    name: levelup-app
    env: docker
    rootDir: LevelUp_App
    dockerfilePath: Dockerfile
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: "true"
      - key: APP_URL
        value: https://levelup-app-div9.onrender.com
      - key: ASSET_URL
        value: https://levelup-app-div9.onrender.com
      - key: DB_CONNECTION
        value: sqlite
      - key: DB_DATABASE
        value: /tmp/database.sqlite
      - key: WIFI2BLE_API_KEY
        value: E9Y2LxT4g1hQZ7aD8nR3mWx5P0qK6pV7
      - key: WIFI2BLE_BASE_URL
        value: https://levelup-simulator.onrender.com
      - key: WIFI2BLE_HOSTPORT
        fromService:
          type: web
          name: levelup-simulator
          property: hostport
      - key: WIFI2BLE_HOST
        fromService:
          type: web
          name: levelup-simulator
          property: host

  # 2. The Python Simulator
  - type: web
    plan: free
    name: levelup-simulator
    env: docker
    rootDir: wifi2ble-box-simulator-main
    dockerfilePath: Dockerfile
