services:
  # 1. The Laravel Application
  - type: web
    plan: free
    name: levelup-app
    env: docker
    rootDir: LevelUp_App
    dockerfilePath: Dockerfile
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: "true"
      - key: APP_URL
        value: https://levelup-app.onrender.com
      - key: DB_CONNECTION
        value: sqlite
      - key: WIFI2BLE_HOST
        fromService:
          type: web
          name: levelup-simulator
          property: host

  # 2. The Python Simulator
  - type: web
    plan: free
    name: levelup-simulator
    env: docker
    rootDir: wifi2ble-box-simulator-main
    dockerfilePath: Dockerfile
